@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
  .text-wrapper{
    max-width: 50%;
  }
}

@media (max-width:1516px){
  .athlets{
    background-position-x: -150px;
  }
  .players{
    background-position-x: 400px;
  }
}

@media (min-width:960px){
  .text-wrapper{
    max-width: 50%;
  }
}

 /* images */
@media (min-width:641px) and (max-width:959px) {
  .image-be-active{
    content: url(../images/be-active_640.jpg);
  }
  .image-find-contact{
    content: url(../images/find-contact_640.jpg);
  }
  .image-work-it{
    content: url(../images/work-it_640.jpg);
  }
  .athlets{
    background: url(../images/footballer_497.png) no-repeat;
    background-position-x: -160px;
  }
  .players{
    background: url(../images/basketballer_436.png) no-repeat;
    background-position-x: 300px;
    background-position-y: 60px;
  }
  .header{
    background: url(../images/football_767.jpg) no-repeat;
    background-size: cover;  
    background-position: center;
  }
  .footer{
    background: url(../images/game_767.jpg) no-repeat;
    background-size: cover;  
    background-position: center;
  }
}

@media (min-width:960px) and (max-width:1279px) {
  .image-be-active{
    content: url(../images/be-active_960.jpg);
  }
  .image-find-contact{
    content: url(../images/find-contact_960.jpg);
  }
  .image-work-it{
    content: url(../images/work-it_960.jpg);
  }
  .header{
    background: url(../images/football_1280.jpg) no-repeat;
    background-size: cover;  
    background-position: center;
  }
  .footer{
    background: url(../images/game_1280.jpg) no-repeat;
    background-size: cover; 
    background-position: center; 
  }
}

@media (max-width:640px) {
  .image-be-active{
    content: url(../images/be-active.jpg);
  }
  .image-find-contact{
    content: url(../images/find-contact.jpg);
  }
  .image-work-it{
    content: url(../images/work-it.jpg);
  }
  .athlets {
    background: url(../images/footballer_192.png) no-repeat;
    background-position-x: center;
    background-position-y: 102px;
  }
  .players{
    background: url(../images/basketballer_302.png) no-repeat;
    background-position-x: center;
    background-position-y: 102px;
  }
  .header{
    background: url(../images/football_767.jpg) no-repeat;
    background-size: cover;  
    background-position: center;
  }
  .footer{
    background: url(../images/game_767.jpg) no-repeat;
    background-size: cover;  
    background-position: center;
  }
}

@media (max-width:960px){
  /* header */
  .tittle-wrapper{
    padding: 0 86px;
  }

/* Athlets */

  .tittle2-wrapper {
    padding-left: 51%;
    padding-top: 87px;
    padding-bottom: 30px;
  } 

  .premission-item {
    position: relative;
    padding-left: 42%;
    padding-right: 33px;
    padding-top: 30px;
    padding-bottom: 40px;
  } 

  /* Players */

  .players .tittle2-wrapper {
    padding-left: 9.6%;
    padding-top: 87px;
    padding-bottom: 30px;
  }

  .players .premission-item {
    padding-left: 4.3%;
    padding-right: 47%;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .number-container {
    display: block;
    position: absolute;
    top: 27px;
  }

  /* Advantage */

  .advanatage{
    display: block;
  }

  .text-wrapper {
    position: relative;
    flex-basis: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    padding-top: 90px;
    padding-bottom: 105px;
  }

  .text-wrapper .number-container {
    width: 116px;
    height: 116px;
    background-color: #5e42b0;
    position: absolute;
    top: -87px;
    left: 32px;
    margin-right: 0;
    transform: translate(0);
  }
  .text-wrapper .text-2 {
      margin-top: 40px;
  }

  .advanatage .text-wrapper:nth-child(4) {
    padding-left: 32px;
  }

  .advanatage .text-wrapper:nth-child(4) .number-container {
    left: 32px;
  }


  .text-wrapper .tittle-2 {
      margin-bottom: 0;
  }

  /* Footer */

  .footer-title {
    position: relative;
    padding: 127px 30px 288px 30px; 
    text-align: center;
    margin: auto;
  }

  .footer-logo {
    display: block;
    position: relative;
    margin: auto;
    margin-bottom: 41px;
  }

  .footer .device-links {
    padding-bottom: 27px;
  } 

  .footer .logo {
    padding-top: 27px;
    padding-bottom: 23px;
  }
  /* Titles and texts */

  .header-text{
    font-size: 64px;
  }

  .header-text:last-child{
    text-align: left;
    padding-left: 19%;
  }

  .tittle-1{
    font-size: 80px;
    color: #ffffff;
    text-transform: uppercase;

  }

  .tittle-2{
    font-size: 80px;
    line-height: 68px;
    margin: 0;
    z-index: 1;
    font-weight: bold;
    color: #c1c1c1;
    text-transform: uppercase;
  }

  .tittle-3{
    font-size: 32px;
    line-height: 34px;
    font-weight: bold;
    color: #c1c1c1;
    margin: 0;
    text-transform: uppercase;
  }

  .text-1{
    max-width: 710px;
    font-size: 16px;
    line-height: 28px;
  }

  .text-2{
    font-size: 24px;
    line-height: 28px;
    
  }

  .text-3{
    font-size: 30px;
  }
}

@media(max-width:640px){
  .logo-image {
    padding-top: 35px;
  }
  .tittle-wrapper {
    margin-top: 136px;
    margin-bottom: 75px;
    padding: 0 23px;
  }
  .header-text {
    font-size: 28px;
  }
  .button {
    width: 280px;
    height: 35px;
    margin: 7px;
  }
  .button-link {
    color: #ffffff;
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    padding-top: 10px;
    padding-left: 29.28%;
  }

  .button-link .icon-apple, .icon-android{
    left: 29.28%;
    width: 22px;
    height: 24px;
    top: 7px;
  }

  .button-link .icon-apple{
    top: 6px;
  }

  .download{
    display: block;
    position: absolute;
    top: 8px;
    font-size: 8px;
    transform: translateX(30px);
  }
  .market{
    position: absolute;
    top: 18px;
    display: block;
    font-size: 8px;
    transform: translateX(30px);
  }

  /* Athlets */

  .tittle2-wrapper {
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 245px;
  }
  .athlets .premission-item:nth-child(1){
    background-color: #fafafa;
    z-index: -1;
  }
  .premission-item {
    position: relative;
    padding-left: 20px;
    padding-right: 33px;
    padding-top: 80px;
    padding-bottom: 35px;
  }
  .number-container {
    top: 77px;
  }
  .number::after {
    bottom: 14px;
    width: 15px;
    height: 4px;
    border-radius: 2px;
  }
  .premission-item .tittle-3 {
    display: inline-block;
    padding-left: 25px;
  }

 /* Players */
 .players .tittle2-wrapper {
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 245px;
  }
  .players .premission-item:nth-child(1){
    background-color: #fafafa;
    z-index: -1;
  }
  .players .premission-item {
    position: relative;
    padding-left: 20px;
    padding-right: 33px;
    padding-top: 80px;
    padding-bottom: 35px;
  }
  .players .number-container {
    top: 77px;
  }
  .players .number::after {
    bottom: 14px;
    width: 15px;
    height: 4px;
    border-radius: 2px;
  }

  /* Advantages */

  .text-wrapper .number-container{
    width: 70px;
    height: 70px;
    top: -65px;
    left: 20px;
  }

  .text-wrapper {
    padding-left: 20px;
    padding-top: 33px;
    padding-bottom: 77px;
  }
  .text-wrapper .text-2 {
    margin-top: 25px;
    margin-bottom: 0;
  }

  /* Footer */

  .footer-title {
    position: relative;
    padding: 100px 20px 75px 20px;
    text-align: center;
    margin: auto;
  }
  .footer .device-links {
    padding-bottom: 27px;
  }
  .footer .logo {
    padding-top: 12px;
    padding-bottom: 10px;
  }

  .footer-logo {
    width: 72px;
    height: 74px;
    display: block;
    position: relative;
    margin: auto;
    margin-bottom: 41px;
    border-radius: 12px;
  }
  .footer-logo img{
    width: 60;
    height: 40px;
    border-radius: 12px;
  }
  /* Titles and texts */

  .tittle-1{
    font-size: 32px;
    color: #ffffff;
    text-transform: uppercase;

  }

  .tittle-2{
    font-size: 28px;
    line-height: 60px;
    margin: 0;
    z-index: 1;
    font-weight: bold;
    color: #c1c1c1;
    text-transform: uppercase;
  }

  .tittle-3{
    font-size: 23px;
    line-height: 34px;
    font-weight: bold;
    color: #c1c1c1;
    margin: 0;
    text-transform: uppercase;
  }

  .text-1{
    max-width: 710px;
    font-size: 15px;
    line-height: 24px;
  }

  .text-2{
    font-size: 16px;
    line-height: 28px;
    
  }

  .text-3{
    font-size: 14px;
  }
  .number{
    font-size: 14px;
  }
}
