@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
  .advantage-text{
    max-width: 50%;
  }
}

@media screen and (max-width:1516px){
  .athlets-image{
    left: -150px;
  }
  .players{
    background-position-x: 400px;
  }
}

@media screen and (min-width:961px){
  .advantage-text{
    max-width: 50%;
  }
  .advantage-item .tittle-4 {
    display: flex;
    align-items: center;
  }
  .advantage-item .number-container{
    width: 168px;
    height: 155px;
    background-color: #5e42b0;
  }
  .advantage-item:nth-child(2n+1) .number-container{
    margin-left: -210px;
    margin-right: 42px;
    top: 45px;
  }
  .advantage-item:nth-child(2n+2) .number-container{
   position: absolute;
   top: 40%;
   left: 100%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
  }
}

 /* images */
@media screen and (min-width:641px) and (max-width:960px) {
  .athlets-image{
    top: 93px;
  }
  .players-image{
    position: absolute;
    right: 0;
  }
  .header{
    background: url(../images/football_767.jpg) no-repeat;
    background-size: cover;  
    background-position: center;
  }
  .footer{
    background: url(../images/game_767.jpg) no-repeat;
    background-size: cover;  
    background-position: center;
  }
}

@media screen and (min-width:961px) and (max-width:1279px) {
  .header{
    background: url(../images/football_1280.jpg) no-repeat;
    background-size: cover;  
    background-position: center;
  }
  .footer{
    background: url(../images/game_1280.jpg) no-repeat;
    background-size: cover; 
    background-position: center; 
  }
}

@media screen and (max-width:640px) {
  .athlets-image{
    padding: 0;
    left: 50%;
    top: 102px;
    transform: translateX(-50%);  
  }
  .players-image{
    padding: 0;
    right: 50%;
    top: 96px;
    transform: translateX(50%);
  }
}

@media screen and (max-width:960px){
  /* header */
  .header-wrapper{
    padding-top: 31px;
    padding-bottom: 91px;
  }
  .header-tittle{
    margin-top: 180px;
    margin-bottom: 310px;
    max-width: 600px;
  }

  .header-tittle span{
    text-align: left;
    padding-left: 16%;
  }

/* Athlets */

  .athlets{
    padding-top: 87px;
  }

  .athlets-tittle-wrapper{
    padding-left: 42%;
    padding-bottom: 30px;
  }

  .premission-item {
    position: relative;
    padding-left: 42%;
    padding-right: 33px;
    padding-top: 30px;
    padding-bottom: 40px;
  } 

  /* Players */
  .players{
    padding-top: 87px;
  }
  .players-tittle-wrapper {
    padding-left: 4.3%;
    padding-bottom: 30px;
  }

  .players .premission-item {
    padding-left: 4.3%;
    padding-right: 47%;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  /* Advantage */

  .advantage-item{
    display: block;
  }

  .advantage-text {
    position: relative;
    flex-basis: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    padding-top: 90px;
    padding-bottom: 105px;
  }
  .advantage-item:nth-child(2n+1) .text-wrapper,.advantage-item:nth-child(2n+2) .text-wrapper {
    margin: 0;
    max-width: 100%;
  }

  .advantage-item:nth-child(2n+1) .number-container, .advantage-item:nth-child(2n+2) .number-container{
    margin: 0;
    margin-top: -119px;
    margin-bottom: 50px;
  }

  .advantage-text .number-container {
    width: 116px;
    height: 116px;
    background-color: #5e42b0;
  }
  .advantage-text .text-2 {
      margin-top: 40px;
  }
  .advantage-text .tittle-2 {
      margin-bottom: 0;
  }

  /* Footer */
  .footer-wrapper{
    padding-top: 125px;
    padding-bottom: 23px;
  }
  .footer-title {
    position: relative;
    padding: 0;
    padding-bottom: 288px; 
    text-align: center;
    margin: auto;
  }

  .footer-logo {
    display: block;
    position: relative;
    margin: auto;
    margin-bottom: 41px;
  }

  .footer .device-links {
    padding-bottom: 54px;
  } 
  /* Titles and texts */

  .header-tittle {
    font-size: 64px;
  }

  .tittle-1{
    font-size: 80px;
    color: #ffffff;
    text-transform: uppercase;

  }

  .tittle-2{
    font-size: 80px;
    line-height: 68px;
    margin: 0;
    z-index: 1;
    font-weight: bold;
    color: #c1c1c1;
    text-transform: uppercase;
  }

  .tittle-3{
    font-size: 32px;
    line-height: 34px;
    font-weight: bold;
    color: #c1c1c1;
    margin: 0;
    text-transform: uppercase;
  }

  .text-1{
    max-width: 710px;
    font-size: 16px;
    line-height: 28px;
  }

  .text-2{
    font-size: 24px;
    line-height: 28px;
    
  }

  .text-3{
    font-size: 30px;
  }
}

@media screen and (max-width:640px){
  /* header */
  .header-wrapper{
    padding-top: 35px;
    padding-bottom: 84px;
  }
  .header-tittle {
    font-size: 28px;
    max-width: 260px;
    margin-top: 136px;
    margin-bottom: 75px;
  }
  .button {
    max-width: 280px;
    height: 35px;
    margin: 7px;
  }
  .button-link {
    color: #ffffff;
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    padding-top: 10px;
    padding-left: 29.28%;
  }

  .button-link .icon-apple, .icon-android{
    left: 29.28%;
    width: 22px;
    height: 24px;
    top: 7px;
  }

  .button-link .icon-apple{
    top: 6px;
  }

  .download{
    display: block;
    position: absolute;
    top: 8px;
    font-size: 8px;
    transform: translateX(30px);
  }
  .market{
    position: absolute;
    top: 18px;
    display: block;
    font-size: 8px;
    transform: translateX(30px);
  }

  /* Athlets */
  .athlets{
    padding-top: 25px;
  }
  .athlets-tittle-wrapper{
    padding-left: 20px;
    padding-bottom: 245px;
  }
  .athlets .premission-item:nth-child(1){
    background-color: #fafafa;
    z-index: -1;
  }
  .premission-item {
    position: relative;
    padding-left: 20px;
    padding-right: 33px;
    padding-top: 80px;
    padding-bottom: 35px;
  }
  .number-container {
    top: 77px;
  }
  .number::after {
    bottom: 14px;
    width: 15px;
    height: 4px;
    border-radius: 2px;
  }
 /* Players */
 .players{
  padding-top: 25px;
 }
 .players-tittle-wrapper {
  padding-left: 20px;
  padding-bottom: 235px;
  
  }
  .players .premission-item:nth-child(1){
    background-color: #fafafa;
    z-index: -1;
  }
  .players .premission-item {
    position: relative;
    padding-left: 20px;
    padding-right: 33px;
    padding-top: 80px;
    padding-bottom: 35px;
  }
  .players .number::after {
    bottom: 14px;
    width: 15px;
    height: 4px;
    border-radius: 2px;
  }

  /* Advantages */
  .advantage-item:nth-child(2n+1) .text-wrapper,.advantage-item:nth-child(2n+2) .text-wrapper {
    margin: 0;
    max-width: 100%;
  }

  .advantage-item:nth-child(2n+1) .number-container, .advantage-item:nth-child(2n+2) .number-container{
    margin: 0;
    margin-top: -94px;
    margin-bottom: 25px;
  }

  .advantage-text .tittle-4 {
    margin-bottom: 25px;
  }

  .advantage-text .number-container{
    width: 70px;
    height: 70px;
    top: -65px;
    left: 20px;
  }

  .advantage-text {
    padding-left: 20px;
    padding-top: 33px;
    padding-bottom: 77px;
  }
  .advantage-text .text-2 {
    margin-top: 25px;
    margin-bottom: 0;
  }

  /* Footer */
  .footer-wrapper{
    padding-top: 100px;
    padding-bottom: 10px;
  }
  .footer-title {
    padding-bottom: 75px;
  }

  .footer .logo {
    padding-top: 12px;
    padding-bottom: 10px;
  }

  .footer-logo {
    width: 72px;
    height: 74px;
    display: block;
    position: relative;
    margin: auto;
    margin-bottom: 41px;
    border-radius: 12px;
  }
  .footer-logo img{
    width: 60;
    height: 40px;
    border-radius: 12px;
  }
  /* Titles and texts */

  .tittle-1{
    font-size: 32px;
    color: #ffffff;
    text-transform: uppercase;

  }

  .tittle-2{
    font-size: 50px;
    line-height: 60px;
    margin: 0;
    z-index: 1;
    font-weight: bold;
    color: #c1c1c1;
    text-transform: uppercase;
  }

  .tittle-3{
    font-size: 23px;
    line-height: 34px;
    font-weight: bold;
    color: #c1c1c1;
    margin: 0;
    text-transform: uppercase;
  }

  .tittle-4{
    font-size: 28px;
    line-height: 30px;
  }

  .text-1{
    max-width: 710px;
    font-size: 15px;
    line-height: 24px;
  }

  .text-2{
    font-size: 16px;
    line-height: 28px;
    
  }

  .text-3{
    font-size: 14px;
  }
  .number{
    font-size: 14px;
  }
}

@media screen and (max-width:700px){
  .device-links{
    display: block;
  }
  .button:last-child{
    margin:auto;
    margin-top: 14px;
  }
  .button{
    margin: auto;
  }
}