/* global */
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
body{
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
}

/* header */
.header{
  background:url(../images/football_1920.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.header-wrapper{
  background-color:rgba(10, 14, 52, 0.9);
  padding-top: 45px;
  padding-bottom: 110px;
}
.logo{
 margin: auto;
}
.logo-image{
  width: 191px;
  height: 52px;
  margin: auto;
  display: block;
}

.header-title{
  max-width: 1430px;
  margin: auto;
  margin-top: 295px;
  margin-bottom: 223px;
  padding: 0 15px;
  text-align: left;
  color: #ffffff;
  font-size: 90px;
  text-transform: uppercase;
  font-weight: bold;
}

.header-title .text-rigth{
  display: block;
  text-align: right;
}

.device-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button{
  position: relative;
  background-color: #5e42b0;
  transition: all 0.2s;
  
  width: 310px;
  height: 77px;
  border-radius: 35px;
}
.button:last-child{
  margin-left: 50px;
}

.button:hover{
  background-color: #5E42DF;
}

.button:active {
  background-color: #5E42FE;
}

.button-link{
  color: #ffffff;
  align-items: center;
  display: flex;
  padding-left: 50px;
  box-sizing: border-box;
  height: 100%;
  text-decoration: none;
  outline: none;
}

.icon-apple{
  display: block;   
  width: 45px;
  height: 45px;
  padding-right: 25px;
}
.icon-android{
  display: block;
  width: 45px;
  height: 45px;
  padding-right: 25px;
}

.download{
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}

.market{
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Section Athlets */
.athlets{
  position: relative;
  padding-top: 110px;
}

.athlets-image{
  position: absolute;
  left: 12.5%;
  top: 30px;
}

.athlets-title-wrapper{
  padding-left: 51%;
  padding-bottom: 43px;
}

.premission-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.premission-item{
  padding-left: 51%;
  padding-top: 62px;
  padding-bottom: 62px;
  z-index: -1;
}

.athlets .premission-item:nth-child(2){
  background-color: #f6f4fa;
}

.athlets .premission-item:nth-child(3){
  background-color: #5e42b0;
  color: #ffffff;
}

.premission-item .premission-title{
  display: flex;
  align-items: flex-start;
}

.premission-item .number{
  padding-right: 10px;
}

.number{
  font-weight: bold;
  font-size: 18px;
  display: block;
  line-height: 28px;
}

.number::after{
  content: '';
  display: block;
  width: 20px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
}
.athlets .premission-item:nth-child(3) .number{
  color: #000000;
}
.athlets .premission-item:nth-child(3) .number::after{
  background-color: #ffffff;
}
/* Section Palyers */

.players{
  position: relative;
  padding-top: 110px;
  background-position-x: 80%;
  background-position-y: 30px;
  z-index: 1;
}

.players-image{
  position: absolute;
  right: 35px;
  top: 30px;
}

.players-title-wrapper{
  padding-left: 9.6%;
  padding-bottom: 43px;
}

.players .premission-item{
  padding-left: 9.6%;
  padding-right: 53%;
  padding-top: 62px;
  padding-bottom: 62px;
}

.players .premission-item:nth-child(3) .number{
  color: #9173e6;
}
.players .premission-item:nth-child(3) .number::after{
  background-color: #ffffff;
}

.players .premission-item:nth-child(2){
  background-color: #f5f6f7;
  z-index: -1;
}

.players .premission-item:nth-child(3){
  background-color: #0a0e34;
  color: #ffffff;
  z-index: -1;
}

/* Advantage */

.advantage-item{
  display: flex;
  flex-basis: 50%;
  flex-wrap: wrap;
}

.image-be-active, .image-find-contact, .image-work-it{
  max-width: 100%
}
.advantage-image{
  flex-basis: 50%;
}

.advantage-image .img{
  width: 100%;
  height: 100%;
}

.advantage-text{
  position: relative;
  flex-basis: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantage-item:nth-child(2) .advantage-image{
  order: 2;
}
.advantage-text .text-wrapper{
  max-width: 650px;
  margin: auto;
}
.advantage-item:nth-child(2n+1) .text-wrapper{
  margin-left: 126px;
}
.advantage-item:nth-child(2n+2) .text-wrapper{
  margin-right: 126px;
}

.advantage-text .number{
  color: #ffffff;
}

.advantage-item .number-container{
  display: flex;
}

.advantage-item .number-container .number{
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%; */
  margin: auto;
}


.advantage-text .number::after{
  background-color: #8f7bc8;
}

.advantage-text .advantage-title{
  margin-bottom: 60px;
}

.advantage-text .advantage-text-size{
  margin: 0;
  max-width: 650px;
}

.advantage .advantage-text:nth-child(4){
  padding-left: 9%;
}

/* Footer */
.footer{
  background:url(../images/game_1920.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.footer-wrapper{
  background-color:rgba(10, 14, 52, 0.9);
  padding-top: 250px;
  padding-bottom: 52px;
}
.footer-logo{
  display: flex;
  margin-right: 37px;
  border-radius: 28px;
  width: 130px;
  height: 135px;
  background: linear-gradient(#7755d7, #50379b);
}

.footer-logo .logo-img{
  margin: auto;
  width:105px; 
  height:87px;
}

.footer-title{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 165px;
  padding: 0 15px;
}

.footer-title .footer-title-size, .footer-sub-title{
  margin: 0;
}

.footer .device-links{
  margin-bottom: 230px;
}


/* titles and text */

.footer-title-size{
  font-size: 80px;
  color: #ffffff;
  text-transform: uppercase;

}

.section-title{
  font-size: 80px;
  line-height: 68px;
  margin: 0;
  z-index: 1;
  font-weight: bold;
  color: #c1c1c1;
  text-transform: uppercase;
}

.premission-title{
  font-size: 36px;
  line-height: 34px;
  font-weight: bold;
  color: #c1c1c1;
  margin: 0;
  text-transform: uppercase;
}

.advantage-title{
  font-size: 80px;
  line-height: 68px;
  margin: 0;
  z-index: 1;
  font-weight: bold;
  color: #c1c1c1;
  text-transform: uppercase;
}

.premission-text{
  max-width: 710px;
  font-size: 20px;
  line-height: 28px;
}

.advantage-text-size{
  font-size: 24px;
  line-height: 28px;
  z-index: 1;
}

.footer-sub-title{
  color: #9173e6;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
}

/* orders */

.order-1{
  order: 1;
}
.order-2{
  order: 2;
}
.order-3{
  order:3;
}
.order-4{
  order: 4;
}
.order-5{
  order: 5;
}
.order-6{
  order: 6;
}